<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0,shrink-to-fit=no" name="viewport" />
  <title>Simulating Sitecore Project</title>
  <link rel="stylesheet" href="challenger-theme.css">
</head>

<body>
  <main>

    <section class="section section-full" style="margin-bottom: 100px">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="template"></div>
          @import "promotion.html"
        </div>
      </div>

    </section>

    <section class="section section-full" style="margin-bottom: 100px">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          @import "promotion.Body.html"
        </div>
      </div>

    </section>
    <section class="section section-full bg-secondary-promotion-light-theme" style="margin-bottom: 100px">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          @import "promotion.Plan.html"
        </div>
      </div>

    </section>





  </main>



  </main>
  <script src="challenger.min.js"></script>


</body>

</html>