<div class="component promotion-body ">

    <div class="container d-flex flex-column justify-content-center">
        <div class="content-block">
            <p>
                The best part of holiday planning is the flexibility to tailor a trip that will best suit your desires. Whether your ideal
                holiday would be exploring culinary delights in France, discovering the ancient wonders of the Middle East
                or experiencing the vibrant culture of Asia. From short break holidays in your own backyard, to opportunities
                extending to the other side of the globe, the world truly is your oyster. Escape Travel is here to tailor-make
                your travel plans, so you have the best holiday experience possible. You dream it, we create it.
            </p>
        </div>

    </div>
</div>