<div class="component  full-width-promotion promotion-light-theme">
    
    <div class="cover-image bg-sm-gray-light img-fluid " title="Promotion banner " style="background-image: url( 'dark-UI.png')">
        <div class="container d-flex flex-column justify-content-center align-items-end h-sm-100"  style="height:536px">
            <div class="content-block w-50 w-sm-100 px-4 py-5">
                <p class="promo-heading">
                    Trip Planner for Seniors
                </p>
                <p class="promo-copy-text">
                    Our vision is to provide our customers with a safe entertainment plans for retirement. Our teams are commited to achieving this goal,
                    and their efforts are being invested in the following strategies to achieve our long-term vision.
                </p>
                <a href="#" target="_blank">
                    <button type="button" class="cta-primary ">View Plan</button>
                </a>

            </div>
        </div>
    </div>
</div>