<!-- 
    <div class="container  ">


        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
<div class="component  plans" style="padding: 2rem">

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h3>Oaks Lagoons</h2>
                    <p>- Return economy class airfare from Sydney to Port Douglas including prepaid taxes and 7kg carry on luggage.</p>
                    <p>- 3 nights accommodation at the 4-star Oaks Lagoons in a Hotel Spa Room.</p>
                    <p>- BONUS 1 FREE night - Stay 3, Pay 2.</p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">View details »</a>
                    </p>
            </div>
            <div class="col-md-4">
                <h3>QT Gold Coast</h2>
                    <p> - Return economy class airfare from Sydney to Gold Coast including prepaid taxes and 7kg carry on luggage.
                    </p>
                    <p>
                        - 4 nights accommodation at the 5-star QT Gold Coast in a Ocean View Room.

                    </p>
                    <p>
                        - Buffet breakfast daily.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">View details »</a>
                    </p>
            </div>
            <div class="col-md-4">
                <h3>Melbourne</h2>
                    <p>- Return economy class airfare from Sydney to Melbourne including prepaid taxes and 7kg carry on luggage.
                    </p>
                    <p>- 3 nights accommodation at the 4-star The Sebel Melbourne Docklands in a 1 Bedroom Apartment.
                    </p>
                    <p>- Continental breakfast daily.</p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">View details »</a>
                    </p>
            </div>
        </div>

        <hr>

    </div>
</div>